.form-control {
  @apply appearance-none border shadow-inner text-fgcolor bg-bgcolor rounded w-full p-2;

  &:focus {
    @apply outline-none shadow-outline;
  }

  &[readonly],
  &:disabled {
    @apply opacity-50 pointer-events-none;
  }
}

select.form-control:not([multiple]) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 24 24' width='24' height='24'><path class='heroicon-ui' d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/></svg>");
  background-repeat: no-repeat;
  background-position: center right;
  background-origin: content-box;
}
