.btn {
  --btn-variant: var(--color-gray-500);
  --btn-variant-on: var(--color-white);
}

.btn-white {
  --btn-variant: var(--color-white);
  --btn-variant-on: var(--color-static-gray-900);
}

.btn-black {
  --btn-variant: var(--color-black);
  --btn-variant-on: var(--color-static-gray-100);
}

.btn-blue {
  --btn-variant: var(--color-blue);
  --btn-variant-on: var(--color-white);
}

.btn-green {
  --btn-variant: var(--color-green);
  --btn-variant-on: var(--color-white);
}

.btn-indigo {
  --btn-variant: var(--color-indigo);
  --btn-variant-on: var(--color-white);
}

.btn-orange {
  --btn-variant: var(--color-orange);
  --btn-variant-on: var(--color-white);
}

.btn-pink {
  --btn-variant: var(--color-pink);
  --btn-variant-on: var(--color-white);
}

.btn-purple {
  --btn-variant: var(--color-purple);
  --btn-variant-on: var(--color-white);
}

.btn-red {
  --btn-variant: var(--color-red);
  --btn-variant-on: var(--color-white);
}

.btn-teal {
  --btn-variant: var(--color-teal);
  --btn-variant-on: var(--color-black);
}

.btn-yellow {
  --btn-variant: var(--color-yellow);
  --btn-variant-on: var(--color-black);
}

.btn {
  @apply border inline-block py-2 px-4 rounded select-none;
  border-color: var(--btn-variant);
  background-color: var(--btn-variant);
  color: var(--btn-variant-on);
}

.btn-outline {
  background-color: var(--btn-transparent);
  color: var(--btn-variant);

  &:hover {
    color: var(--btn-variant-on);
    background-color: var(--btn-variant);
  }
}

.btn-block {
  @apply block w-full;
}

.btn:hover,
.btn:focus {
  @apply lighten shadow;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn.disabled,
.btn[disabled] {
  @apply opacity-50 pointer-events-none;
}
