/**
 * Color variants
 */

.nav {
  --nav-variant: var(--color-gray-200);
  --nav-on-variant: var(--color-fgcolor);
}

.nav-white {
  --nav-variant: var(--color-white);
  --nav-on-variant: var(--color-static-gray-900);
}

.nav-black {
  --nav-variant: var(--color-black);
  --nav-on-variant: var(--color-static-gray-100);
}

.nav-blue {
  --nav-variant: var(--color-blue);
  --nav-on-variant: var(--color-white);
}

.nav-green {
  --nav-variant: var(--color-green);
  --nav-on-variant: var(--color-white);
}

.nav-indigo {
  --nav-variant: var(--color-indigo);
  --nav-on-variant: var(--color-white);
}

.nav-orange {
  --nav-variant: var(--color-orange);
  --nav-on-variant: var(--color-white);
}

.nav-pink {
  --nav-variant: var(--color-pink);
  --nav-on-variant: var(--color-white);
}

.nav-purple {
  --nav-variant: var(--color-purple);
  --nav-on-variant: var(--color-white);
}

.nav-red {
  --nav-variant: var(--color-red);
  --nav-on-variant: var(--color-white);
}

.nav-teal {
  --nav-variant: var(--color-teal);
  --nav-on-variant: var(--color-white);
}

.nav-yellow {
  --nav-variant: var(--color-yellow);
  --nav-on-variant: var(--color-white);
}

/**
 * Core styles
 */

.nav-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
}

.nav-group:not([no-gap]) {
  @apply gap-2;
}

.nav {
  @apply select-none whitespace-no-wrap;
  display: flex;
  align-items: center;
  color: var(--color-gray-600);
  font-size: var(--text-sm);
  padding: var(--p-3) var(--p-4);
  width: 100%;
}

.nav:hover,
.nav:focus,
.nav:active {
  color: var(--nav-variant);
  outline: none;
}

.nav.active {
  color: var(--nav-variant);
}

.nav.disabled,
.nav[disabled] {
  @apply opacity-50 pointer-events-none;
}

.nav:not([class*=nav-]):hover,
.nav:not([class*=nav-]):focus,
.nav:not([class*=nav-]):active {
  color: var(--color-fgcolor);
}

.nav:not([class*=nav-]).active {
  color: var(--color-fgcolor);
}


/**
 * Types
 */

/* Underline type */

.nav-underline {
  padding-top: var(--p-3);
  padding-bottom: var(--p-2);
  border-bottom-width: var(--border-4);
  border-color: var(--color-transparent);
}

.nav-underline:hover,
.nav-underline:focus,
.nav-underline:active {
  outline: none;
  color: var(--color-fgcolor);
  border-color: var(--nav-variant);
}

.nav-underline.active {
  outline: none;
  color: var(--color-fgcolor);
  border-color: var(--nav-variant);
}

/* Overline type */

.nav-overline {
  padding-top: var(--p-2);
  padding-bottom: var(--p-3);
  border-top-width: var(--border-4);
  border-color: var(--color-transparent);
}

.nav-overline:hover,
.nav-overline:focus,
.nav-overline:active {
  outline: none;
  color: var(--color-fgcolor);
  border-color: var(--nav-variant);
}

.nav-overline.active {
  outline: none;
  color: var(--color-fgcolor);
  border-color: var(--nav-variant);
}

/* Pill type */

.nav-pill:hover,
.nav-pill:focus,
.nav-pill:active {
  border-radius: var(--rounded);
  outline: none;
  color: var(--nav-on-variant);
  background-color: var(--nav-variant);
}

.nav-pill.active {
  border-radius: var(--rounded);
  color: var(--nav-on-variant);
  background-color: var(--nav-variant);
}

/* Block type */

.nav-block:hover,
.nav-block:focus,
.nav-block:active {
  outline: none;
  color: var(--nav-on-variant);
  background-color: var(--nav-variant);
}

.nav-block.active {
  color: var(--nav-on-variant);
  background-color: var(--nav-variant);
}
