/* purgecss start ignore */

:host {
  display: block;
  background-color: var(--color-bgcolor);
}

::slotted([slot=subtitle]) {
  font-size: var(--text-sm);
  color: var(--color-gray-500);
}

::slotted([slot=content]) {
  padding: var(--p-4);
}

::slotted([slot=nav]) {
  margin-left: var(--m-auto);
  display: flex;
  justify-content: center;
  align-items: stretch;
}

header {
  display: flex;
  padding: var(--p-3) var(--p-4);
}

.header-inner {
  align-self: center;
  flex-grow: 1;
}

:host([type=simple]),
:host([type=raised]) {
  border: var(--border) solid var(--color-border) !important;
}

:host([type=simple]) header,
:host([type=raised]) header,
:host([type=accented]) header {
  border-bottom: var(--border) solid var(--color-border);
}

:host([type=raised]) {
  box-shadow: var(--shadows);
  border-width: var(--border);
  border-radius: var(--rounded);
}

:host([type=accented]) header {
  border-top: var(--border-2) solid var(--color-fgcolor);
}

/* purgecss end ignore */