/* purgecss start ignore */

:host {
  display: grid;

  grid-template-areas:
    "sidebar content sidebar-right";

  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;

  height: 100%;
  width: 100%;
}

::slotted([slot=sidebar]) {
  grid-area: sidebar;
}

::slotted([slot=content]) {
  grid-area: content;
}

::slotted([slot=sidebar-right]) {
  grid-area: sidebar-right;
}

/* purgecss end ignore */